@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import './base';

@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;
@grey-1: #585858;

p {
    color: @grey-1;
}

li {
    color: @grey-1
}

figcaption {
    color: @grey-1
}

.logo {
    color: #262626 !important;
}

.menu a {
    color: @grey-1 !important;
}

.menu a:hover {
    color: @blue-base !important;
}

.circle-btn {
    width: 64px !important;
}
