@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';

.img {
    object-position: center;
    object-fit: cover;
}

.part-1 {
    height: 100vh;
}

.anchor {
    position: relative;
    top: -100px;
    visibility: hidden;
}
[nz-carousel-content] {
    height: 150px;
}

.part {
    border-bottom: 1px solid @border-color-base;
}

.btn-download {
    max-width: 175px;
    justify-content: center;
}

.circle-btn {
    width: 64px;
}


.list-style-none {
    list-style: none;
}

.info-list > li > span:first-child {
    width: 110px;
    display: inline-block;
}

.info-list > li {
    flex: 50%;
}

nz-carousel {
    cursor: pointer;
}


//--------------- ANIMATION ---------------

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}


//--------------- RESPONSIVE ---------------

@media (max-width: @screen-md-max) {
    .img {
        height: 70vh !important;
        object-position: 50% 30%;
        margin-top: 58px;
    }

    .featured-img {
        position: inherit !important;
    }

    .sidebar {
        width: 100%;
        right: inherit;
        bottom: 0;
        height: 90px;
        flex-direction: inherit !important;
        justify-content: center !important;
        align-items: inherit !important;
        border-top: 1px solid @border-color-base;
        border-left: inherit !important;
        position: inherit !important;
    }

    .part-1 {
        height: 50vh !important;
    }

    .social__button {
        margin-left: 15px;
        margin-bottom: 0 !important;
    }
}

@media (min-width: @screen-lg-min) {

    .sidebar {
        width: 7%;
        right: 0;
        height: 100%;
    }

    .row {
        padding: 0 !important;
    }

    .col-lg-6 {
        width: 51.33%;
        padding: 0 !important;
    }
}

@media (max-width: @screen-sm-max) {
    .part {
        padding: 1rem !important;
    }

    .part-1 {
        align-items: center !important;
        height: 70vh !important;
    }

    [nz-carousel-content] {
        height: 250px;
    }

    .info-list {
        flex-direction: column !important;
    }

    .flex-column-xs {
        flex-direction: column;
    }

    .flex-xs-100 {
        flex: 100;
    }

    .text-xs-center {
        text-align: center !important;
    }

    .nav-school > button {
        margin: 0 !important;
    }
}
