@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';

.img {
    object-position: center;
    object-fit: cover;
}

.part {
    margin-top: 85%;
}

@media (max-width: @screen-md-max) {
    .img {
        height: 70vh !important;
        object-position: top !important;
        margin-top: 58px;
    }

    .sidebar {
        width: 100%;
        right: inherit;
        bottom: 0;
        height: 90px;
        flex-direction: inherit !important;
        justify-content: center !important;
        align-items: inherit !important;
        border-top: 1px solid @border-color-base;
        border-left: inherit !important;
    }

    .social__button {
        margin-left: 15px;
        margin-bottom: 0 !important;
    }
}

@media (min-width: @screen-lg-min) {
    .content {
        width: 42%;
    }

    .sidebar {
        width: 7%;
        right: 0;
        height: 100%;
    }
}
