<div class="container-fluid p-0">
    <app-menu></app-menu>
    <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-5 px-0 position-fixed">
            <div class="img-gradient">
                <img
                    alt="Thomas Sanceo"
                    class="vh-100 img w-100"
                    src="assets/profile.jpeg"
                >
            </div>
        </div>
        <div class="offset-lg-5 col-sm-12 col-md-12 col-lg-6 content d-flex justify-content-center flex-column">
            <div class="part part-1 d-flex justify-content-center flex-column ps-5 pe-5">
                <h1 class="fw-bold display-4">Thomas<br> Sanceo</h1>
                <div
                    class="text-uppercase typewriter fw-bold pb-4"
                    id="typewriter"></div>
                <p class="lh-lg">Hello! I am an Android and Data engineer based in Paris France. The guiding quasar
                    of my journey is
                    working on solutions that leverage best-practice technologies to deliver a top user experience. I
                    love
                    all things android.</p>
                <div class="d-flex">
                    <button
                        [nzSize]="'default'"
                        class="d-flex align-items-center me-3 fw-bold btn-download"
                        nz-button
                        nzShape="round"
                        nzType="default">
                        CONTACT ME
                        <i
                            nz-icon
                            nzType="right"></i>
                    </button>
                    <button
                        [nzSize]="'large'"
                        class="d-flex align-items-center me-3 fw-bold btn-download circle-btn"
                        nz-button
                        nzShape="circle"
                        nzType="default">
                        <i
                            class="arrow bounce fw-bold"
                            nz-icon
                            nzType="down"></i>
                    </button>
                </div>
            </div>
            <div class="part part-2 p-5">
                <h1 class="fw-bold display-4">About me</h1>
                <p class="typewriter fw-bold pb-4">MY STORY</p>
                <p class="lh-lg">Currently I am an Android Engineer at Vestiaire Collective. A proud holder of a first
                    class Bsc Hons
                    Degree in Computer Science from the University of Science and Technology Zimbabwe and an MSc in Data
                    Engineering. I have been working in the computing sphere for the past 5 years with some of the
                    experience gained from overseas internships</p>
                <p class="lh-lg">As much as I appreciate my proficiency on the android platform, I also have some skills
                    in my arsenal
                    namely Data Science, Machine Learning, Exploratory Data Analysis, Data Engineering, Java (Kotlin),
                    Flask, Angular 2 and Web Development with the regular suite (HTML, CSS, Javascript)</p>
            </div>
            <div class="part part-2 p-5">
                <h1>Education</h1>
                <p class="typewriter fw-bold">STUDIED AT</p>
                <p>Hello! I am an Android and Data engineer based in Paris France. The guiding quasar of my journey is
                    working on solutions that leverage best-practice technologies to deliver a top user experience. I
                    love
                    all things android.</p>
            </div>
            <div class="part part-2 p-5">
                <h1>Skills</h1>
                <p class="typewriter fw-bold">DEVELOPMENT ARSENAL</p>
                <p>Hello! I am an Android and Data engineer based in Paris France. The guiding quasar of my journey is
                    working on solutions that leverage best-practice technologies to deliver a top user experience. I
                    love
                    all things android.</p>
            </div>
            <div class="part part-2 p-5">
                <h1>Portfolio</h1>
                <p class="typewriter fw-bold">LATEST WORKS</p>
                <p>Hello! I am an Android and Data engineer based in Paris France. The guiding quasar of my journey is
                    working on solutions that leverage best-practice technologies to deliver a top user experience. I
                    love
                    all things android.</p>
            </div>
        </div>
        <div class="col-lg-1 border-start sidebar position-fixed d-flex justify-content-end align-items-center py-3 flex-column">
            <button
                [nzSize]="'large'"
                class="fs-4 social__button mb-3"
                nz-button
                nzShape="circle"
                nzType="default"><i
                class="social__button__icon"
                nz-icon
                nzTheme="outline"
                nzType="linkedin"></i></button>
            <button
                [nzSize]="'large'"
                class="fs-4 social__button mb-3"
                nz-button
                nzShape="circle"
                nzType="default"><i
                class="social__button__icon"
                nz-icon
                nzTheme="outline"
                nzType="github"></i></button>
        </div>
    </div>
</div>
