@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';

html, body {
    font-family: 'Poppins', sans-serif !important;
}

.ant-steps-item-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.ant-steps-item-title {
    font-weight: bold !important;
}

.blue-5 {
    color: @blue-6
}

.flex-50 {
    flex: 50%;
}

.flex-40 {
    flex: 40%;
}
