<ul
    [class.reset-vh]="isHideMenu"
    class="d-flex fw-bold menu pe-3 py-2 ps-5 mt-4 justify-content-between position-fixed"
    nz-menu
    nzMode="horizontal">
    <div class="d-flex me-auto align-items-center part-1">
        <li class="m-0 logo fs-6 lh-sm">Thomas Sanceo</li>
        <button
            (click)="handleDropDownMenu()"
            *ngIf="isDisplayDropDownMenu"
            [nzSize]="'large'"
            class="fs-4"
            nz-button
            nzShape="circle"
            nzType="default"><i
            [nzType]="iconMenu"
            nz-icon></i></button>
    </div>
    <div
        [class.d-none]="isHideMenu"
        class="d-flex ms-auto align-items-center part-2 anchor">
        <a
            href="#intro"
            nz-menu-item
        >
            HOME
        </a>
        <a
            href="#about"
            nz-menu-item
        >
            ABOUT
        </a>
        <a
            href="#portfolio"
            nz-menu-item
        >
            PORTFOLIO
        </a>
        <a
            href="mailto:sanceo.thomas@gmail.com"
            nz-menu-item
        >
            CONTACT
        </a>
        <a
            [nzSize]="'large'"
            class="d-flex align-items-center me-3 fw-bold btn-download pb-0"
            href="./assets/cv.pdf"
            nz-button
            nzShape="round"
            nzType="default"
            target="_blank">
            DOWNLOAD CV
            <i
                nz-icon
                nzType="download"></i>
        </a>
        <nz-switch
            (click)="toggleTheme()"
            [(ngModel)]="isDarkMode"
            [nzCheckedChildren]="'🌙'"
            [nzUnCheckedChildren]="'☀️'"
        ></nz-switch>
    </div>
</ul>
